section {
    overflow: inherit;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}
.wrapper {
    min-height: 80%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: 0;
}
.footer,
.push {
    height: 10px;
}

// temporary
.blog,
.admin,
.login {
    display: none;
}
