/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/
.section-title h2::after {
    content: "";
    width: 120px;
    height: 2px;
    display: inline-block;
    background: #ef5285;
    margin: 4px 10px;
}

.interests .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #ef5285;
    transition: ease-in-out 0.3s;
}

.interests .icon-box i {
    font-size: 20px;
    padding-right: 10px;
    line-height: 1;
}

.interests .icon-box h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
    color: #fff;
}

.interests .icon-box:hover {
    background: rgb(238, 138, 174);
}
